{% extends "base.html" %}
{% load staticfiles i18n postman_tags el_pagination_tags %}
{% block content %}
<div id="postman" class="inboxPage">
{% if flavour == "full" %}<h1>{% trans "Inbox" %}</h1>{% else %}<h3>{% trans "Inbox" %}</h3>{% endif %}

{% if invalid_page %}
<p>{% trans "Sorry, this page number is invalid." %}</p>
{% else %}
{% lazy_paginate 5 pm_messages %}
{% if pm_messages %}
<form class="inboxForm" action="{% block pm_form_action %}{% endblock %}" method="post">{% csrf_token %}
<span id="pm_buttons">
  <button type="submit" class="btn btn-secondary" onclick="this.form.action='{% url 'postman:delete' %}'">{% trans "Delete" %}</button>
  <!-- <button type="submit" class="btn btn-secondary" onclick="this.form.action='{% url 'postman:archive' %}'">{% trans "Archive" %}</button> -->
  <button type="submit" class="btn btn-secondary" onclick="this.form.action='{% url 'postman:mark-read' %}'">{% trans "Mark as read" %}</button>
  <button type="submit" class="btn btn-secondary" onclick="this.form.action='{% url 'postman:mark-unread' %}'">{% trans "Mark as unread" %}</button>
</span>
<div class="inboxConversations">
  <div class="conversationBlock">
    <table>
      <tbody>
    {% for message in pm_messages %}
    <tr class="conversationRow">
      <td class="conversationCheckBox">
        <span class="checkboxSpan"><input type="checkbox" {% if by_conversation and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %}/></span>
      </td>
      <td class="converationNotif">
        {% if message.is_new %}<img class="notificationImg" src="{% static 'img/notification_icon.png' %}"/>{% endif %}
      </td>
      <td class="converationSubject">
        <a id="sender" class="subjectLink"
        href="{% if by_conversation and message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}{% endif %}?next={{ current_url|urlencode }}">
        <span class="subjectSender">{{message.sender}}</span>
        <span class="subjectSubject">{{ message.subject|cut:"Re:"|truncatechars:17 }}</span>
        </a>
      </td>
    </tr>
    {% endfor %}
    {% show_pages %}
  </tbody>
  </table>
  </div>
</div>
</form>
{% else %}
<p class="noMessages">{% trans "No messages." %}</p>
{% endif %}
{% endif %}
</div>
{% endblock content %}
