{% extends 'base.html' %}
{% load notification_tags staticfiles %}

{% block content %}
{% if user.notifications.active.count > 0 %}
<div class="notification-box-list">
{% for notification in notifications %}
<li data-nf-id="{{ notification.id }}"
class="notification list-group-item {{ notification.read|yesno:'read,unread' }}">
    {% if notification.nf_type == 'received_challenge' %}
    <a href="{% url 'team' notification.actor %}">{{ notification.actor }}</a> {{ notification.verb }}
    {% elif notification.nf_type == 'challenged_user' %}
    You {{ notification.verb }} <a href="{% url 'team' notification.actor %}">{{ notification.actor }}</a>
    challenged
    {% else %}
    {% endif %}
    <span class="timesince">{{ notification.created|timesince }} ago</span>

    <button data-id="{{ notification.id }}" class="mark-notification"
        data-mark-action="{{ notification.read|yesno:'unread,read' }}"
        data-toggle-text="Mark as {{ notification.read|yesno:_('read,unread') }}">

        Mark as {{ notification.read|yesno:'unread,read' }}

    </button>
    <button class="delete-notification" data-id="{{ notification.id }}">X</button>
</li>
{% endfor %}
<p style="margin:50px 0px 0px 550px;">View current challenges on your team page!</p>
{% else %}
<p style="margin:50px 0px 0px 550px;">You don't have any notifications yet!</p>
{% endif %}
</div>
{% include_notify_js_variables %}
<script src="{% static "notify/notifyX.min.js" %}"></script>
{% endblock %}
