<div class="headerwrap {% if team.rank < 6 %}diamond{% elif team.rank >= 6 and team.rank <= 20 %}gold{% elif team.rank >= 20 and team.rank <= 35 %}silver{% elif team.rank > 35 %}bronze{% endif %}">
		<div class="container" id="header">
			<div class="row">
				<div class="col-lg-6">
					<a class="homeButton" href="{% url 'index' %}">
						{% if flavour == "full" %}<h1>USContenders</h1>{% else %}<h3>USContenders</h3>{% endif %}
					</a>
					<form class="form-inline" role="form" action="{% url 'search' %}" method="get">
					  <div class="form-group">
          		<input class="searchInput" type="search" name="s" placeholder={% if query %}{{ query }}{% else %}"i.e. Rattpack or Pup Fiction"{% endif %} onfocus="this.placeholder = ' '" value="">
					  </div>
					  <button type="submit" class="btn btn-warning btn-{% if flavour == 'full' %}lg{% else %}sm{% endif %}">Search</button>
					</form>
				</div>
				<div class="col-lg-6">
				</div>
			</div>
		</div>
	</div>
<div class="TickerNews" id="ticker">
  <div class="ti_wrapper">
    <div class="ti_slide">
      <div class="ti_content">
        <div class="ti_news"><span class="spanclass" style="margin-right:50px;"><b>Recent News:</b></span>
          <span style="margin-right:40px;">This is a test!</span>
          <span style="margin-right:40px;">This is a just another test!</span>
          <span style="margin-right:40px;">Yet again, this is a test!</span>
          <span style="margin-right:40px;"></span>
          <span style="margin-right:40px;"></span></div>
      </div>
    </div>
  </div>
</div>
