<div class="headerwrap" {% if rank < 6 %} id="diamond"{% elif rank >= 6 and rank <= 20 %}id="gold"{% elif rank >= 20 and rank <= 35 %}id="silver"{% elif rank > 35 %}id="bronze"{% endif %}>
		<div class="container" id="header">
			<div class="row">
				<div class="col-lg-6">
					<a class="homeButton" href="{% url 'index' %}">
						<h1>USContenders{{team}}</h1>
					</a>
					<form class="form-inline" role="form" action="{% url 'search' %}" method="get">
					  <div class="form-group">
          		<input class="searchInput" type="search" name="s" placeholder={% if query %}{{ query }}{% else %}"e.g. Rattpack or Good Kid, C.A.P. City"{% endif %} onfocus="this.placeholder = ' '" value="">
					  </div>
					  <button type="submit" class="btn btn-warning btn-lg">Search</button>
					</form>
				</div>
				<div class="col-lg-6">
				</div>
			</div>
		</div>
	</div>
<div class="TickerNews" id="ticker">
  <div class="ti_wrapper">
    <div class="ti_slide">
      <div class="ti_content">
        <div class="ti_news"><span class="spanclass" style="margin-right:50px;"><b>Recent News:</b></span>
          <span style="margin-right:40px;">This is a test!</span>
          <span style="margin-right:40px;">This is a just another test!</span>
          <span style="margin-right:40px;">Yet again, this is a test!</span>
          <span style="margin-right:40px;"></span>
          <span style="margin-right:40px;"></span></div>
      </div>
    </div>
  </div>
</div>
