{% extends 'base.html' %}

{% block content %}
<div class="form-wrapper">
  {% if registered %}
  <h1>Thank you for registering</h1>
  <h4>A moderator will let you know if/when your team is approved!</h4>
  {{ roster }}
  {% else %}
  <h1>Team Registration</h1>
  {% for field in roster_form %}
  {{ field.errors}}
  {% endfor %}
  <form enctype="multipart/form-data" method="post" action="{% url 'register' %}">
      {% csrf_token %}
      <input class="form-control" type="text" name="team_name" placeholder="Team Name" required/>
      <select class="form-control" name="server" required>
        <option value="" disabled selected>Server</option>
        <option value="1">Radius</option>
        <option value="2">Pi</option>
        <option value="3">Origin</option>
        <option value="4">Sphere</option>
        <option value="5">Centra</option>
        <option value="6">Orbit</option>
        <option value="7">Chord</option>
        <option value="8">Diameter</option>
        <option value="9">Any</option>
      </select>
      <input class="form-control" type="text" name="captain" placeholder="Captain" required/>
      <input class="form-control" type="text" name="co_captain" placeholder="Co-Captain" required/>
      <input class="form-control" type="text" name="member1" placeholder="Member" required />
      <input class="form-control" type="text" name="member2" placeholder="Member" required />
      <input class="form-control" type="text" name="member3" placeholder="Member" />
      <input class="form-control" type="text" name="member4" placeholder="Member" />
      <input class="form-control" type="text" name="member5" placeholder="Member" />
      <button class="form-submit btn btn-lg btn-primary btn-block" type="submit" name="submit">Register</button>
  </form>
</div>
{% endif %}
{% endblock %}
