{% extends 'base.html' %}

{% block content %}
  <div class="resultsPage">
    {% if total < 20 %}
    {% if flavour == "full" %}<h1>Results</h1>{% else %}<h2>Results</h2>{% endif %}
    <div class="resultsTable">
    {% if players %}
      <div class="playerResults">
      <h3><i>Players ({{ players|length }})</i></h3>
      {% for player in players %}
      <div class="result">
        {% if player.user.team %}
        <a href="{% url 'player' player.user.team player.name %}">{{ player }}</a>
        {% else %}
        {{ player }}
        {% endif %}
      </div>
      {% endfor %}
      </div>
    {% endif %}
    {% if teams %}
      <div class="teamResults">
      <h2><i>Teams ({{ teams|length }})</i></h2>
      {% for team in teams %}
      <div class="result">
        <a href="{% url 'team' team %}">{{ team }}</a>
      </div>
      {% endfor %}
      </div>
    {% endif %}
    {% if not players and not teams %}
      <h2 class="noResults">None</h2>
    </div>
    {% endif %}
    {% else %}
    Your search rendered too many results! Please be more specific!
    {% endif %}
  </div>
{% endblock %}
