<div class="col-lg-2" id="sideBar" style= {% if 'team' in request.path or 'player' in request.path %}"display:inline-block;"{% else %}"display:none;"{% endif %}>
  <h2 class="sideBarHeader">Teams<br><small id="sideBarHeader">(League Rank)</small></h2>
  <table class="sideBarTable">
    {% for roster in rosters %}
    <tr class="sideBarTableRow">
      <td class="sideBarTableRank">{{ roster.rank }}</td>
      <td class="sideBarTableTeam"><a class="sideBarTableTeamLink" {% if roster.team == team.team or roster.team == player.roster.team %}id="selfTeam"{% endif %} href="{% url 'team' roster.team %}">{{ roster.team }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
