{% extends "base.html" %}
{% load staticfiles mathfilters django_tables2 %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<div class="teamPage">
  {% include "sidebar.html" %}
  <div class="col-lg-10" id="teamInfo">
    <div class="col-lg-12 statcard" id="teamName">
      <h1 class="teamNameHeader">{{ team.team }}</h1><br>
      <table class="subTeamName" align='center'>
        <tr>
          <th class="subTeamNameRow">
            {{ team.rank }}{% if team.rank == 3 %}rd{% elif team.rank == 2 %}nd{% elif team.rank == 1 %}st{% else %}th{% endif %}</th>
          <th class="subTeamNameRow">
            <img class="crown" src="{% static 'img/crown.png' %}" width="16px" height="16px"/>{{ team.captain }}</th>
          <th class="subTeamNameRow" id="subTeamServer">{{ team.server }}</th>
        </tr>
      </table>
      {% render_table table %}
    </div>
    <div class="col-lg-3 statcard">
      <div class="roster">
        <div class="smallCardHeader">Roster</div>
        <table class="rosterTable">
          <tr><td class="rosterInfo"><a class="player" href="{% url 'player' team.captain %}">{{ team.captain }}</a></td></tr>
          <tr><td class="rosterInfo"><a class="player" href="{% url 'player' team.co_captain %}">{{ team.co_captain }}</a></td></tr>
          {% if team.member1 and team.member1 != team.captain %}
          <tr><td class="rosterInfo"><a class="player" href="{% url 'player' team.member1 %}">{{ team.member1 }}</a></td></tr>
          {% if team.member2 and team.member2 != team.captain %}
          <tr><td class="rosterInfo"><a class="player" href="{% url 'player' team.member2 %}">{{ team.member2 }}</a></td></tr>
          {% if team.member3 and team.member3 != team.captain %}
          <tr><td class="rosterInfo"><a class="player" href="{% url 'player' team.member3 %}">{{ team.member3 }}</a></td></tr>
          {% if team.member4 and team.member4 != team.captain %}
          <tr><td class="rosterInfo"><a class="player" href="{% url 'player' team.member4 %}">{{ team.member4 }}</a></td></tr>
          {% if team.member5 and team.member5 != team.captain %}
          <tr><td class="rosterInfo"><a class="player" href="{% url 'player' team.member5 %}">{{ team.member5 }}</a></td></tr>
          {% if team.member6 and team.member6 != team.captain %}
          <tr><td class="rosterInfo"><a class="player" href="{% url 'player' team.member6 %}">{{ team.member6 }}</a></td></tr>
          {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
        </table>
      </div>
    </div>
    <div class="col-lg-8 statcard">
      <div class="teamsToChallenge">
        <div class="smallCardHeader">Teams to Challenge</div>
        <table class="challengeTable">
          {% if not challengers|length_is:"0" %}
          <tr>
						<th class="challengeHeader" id="challengeRank">Rank</th>
            <th class="challengeHeader" id="challengeTeam">Team</th>
            <th class="challengeHeader">Challenges In</th>
            <th class="challengeHeader">Challenges Out</th>
            <th class="challengeHeader">Streak</th>
            <th class="challengeHeader">Last Active</th>
          </tr>
          {% for roster in challengers %}
          <tr>
            <td class="challengeRow" id="challengeCellRank">{{ roster.0 }}</td>
            <td class="challengeRow" id="challengeCellTeam"><a class="challengeTeamLink" href="{% url 'team' roster.1.team %}">{{ roster.1.team }}</a><br></td>
            <td class="challengeRow" id="challengeCellIn" {% if roster.1.challengeIn == 2 %}style="color:red;"{% endif %}>
              {{ roster.1.challengeIn }}</td>
            <td class="challengeRow" >
              {{ roster.1.challengeOut }}</td>
            <td class="challengeRow">
              {% if roster.1.streak < 0 %}{{ roster.1.streak|abs }}L
              {% elif roster.1.streak > 0 %}{{ roster.1.streak }}W
              {% else %}—{% endif %}
            </td>
            <td class="challengeRow">{{ roster.1.lastActive }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr><td class="challengeRow">You can't challenge anyone!</td></tr>
          {% endif %}
        </table>
      </div>
    </div>
  </div>
</div>
<script>
{% if stats.streak < 0 %}$('#streak').attr('id', 'negative');{% elif stats.streak > 0 %}$('#streak').attr('id', 'positive');{% else %}{% endif %}
{% if stats.challengeOut == 2 %}$('#challengeOut').attr('id', 'negative');{% endif %}
{% if stats.challengeIn == 2 %}$('#challengeIn').attr('id', 'negative');{% endif %}
{% if stats.highestRank < 6 %}$('#highestRank').attr('id', 'diamond');
{% elif stats.highestRank >= 6 and stats.highestRank < 21 %}$('#highestRank').attr('id', 'gold');
{% elif stats.highestRank >= 21 and stats.highestRank < 36 %}$('#highestRank').attr('id', 'silver');
{% elif stats.highestRank >= 36 %}$('#highestRank').attr('id', 'bronze');{% endif %}
{% if stats.change < 0 %}
  $('#change').attr('id','negative').replaceWith('<td class="change" id="negative">' + '▼' + String({{ stats.change|abs }}) + '</td>');{% endif %}
{% if stats.change %}
  $('#change').attr('id','positive').replaceWith('<td class="change" id="positive">' + '▲' + String({{ stats.change }}) + '</td>');{% endif %}
</script>
{% endblock %}
