{% extends "base.html" %}
{% load staticfiles mathfilters django_tables2 app_filters %}

{% block content %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert.css' %}">
{% endblock %}

<div class="teamPage">
  {% if flavour == 'full' %}
  {% include "sidebar.html" %}
  {% endif %}
  <div class="col-lg-10" id="teamInfo">
    <div class="col-lg-12 statcard" id="teamName">
      <h1 class="teamNameHeader">{{ team.team_name }}</h1>
      {% if user|is_captain and not user|own_team:team %}
        {% if user|can_challenge:team %}
        <a href="{% url 'challenge_arg' team.team_name %}" class="btn btn-primary btn-lg" role="button" >Challenge</a><br><br>
        {% else %}
        <button type="button" class="btn btn-lg btn-primary" disabled>Challenge</button><br><br>
        {% endif %}
      {% endif %}
      <table class="subTeamName" align='center'>
        <tr>
          <th class="subTeamNameHeader">
            {{ team.rank }}{% if team.rank == 3 %}rd{% elif team.rank == 2 %}nd{% elif team.rank == 1 %}st{% else %}th{% endif %}</th>
          <th class="subTeamNameHeader">
            <img class="headerImage" src="{% static 'img/crown.png' %}" width="16px" height="16px"/>{{ team.captain }}</th>
          <th class="subTeamNameHeader">{{ team.abv }}</th>
          <th class="subTeamNameHeader" >{{ team.get_server_display }}</th>
          {% if not user|own_team:team and not user.is_anonymous %}
          <th class="subTeamNameHeader">
            <a href="{% url 'postman:write' team.captain %}?subject=USC Challenge">
            <img class="headerImage" src="{% static 'img/message_icon.png' %}" width="16px" height="16px"/>
          </th>
          {% endif %}
        </tr>
      </table>
      {% render_table statsTable %}
    </div>
    <div class="col-lg-3">
      <div class="statcard">
        <div class="roster">
          <div class="smallCardHeader">Roster</div>
          {% include "team_roster.html" %}
          {% if user|own_team:team %}
          <hr class="rosterDivider">
          <div class="addDropButtons">
            <span class="input-group-btn">
              <button type="button" id="drop_button"class="btn btn-danger btn-number" data-type="plus" data-field="quant[2]">
                  <span class="glyphicon glyphicon-plus">-</span>
              </button>
            </span>
            <span class="input-group-btn">
              <button type="button" id="add_button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                  <span class="glyphicon glyphicon-plus">+</span>
              </button>
            </span>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="statcard">
        <div class="teamsToChallenge">
          <div class="smallCardHeader">Current Challenges</div>
          {% render_table currentTable %}
        </div>
      </div>
      <div class="statcard">
        <div class="teamsToChallenge">
          <div class="smallCardHeader">Teams to Challenge</div>
            {% render_table challengersTable %}
        </div>
      </div>
    </div>
    <!--  -->
    <div class="col-lg-3">
      <div class="statcard">
        <div class="recentGames">
          <div class="smallCardHeader">Recent Games</div>
          {% for game in recentGames %}
          <div class="gameLogoContainer">
            <img class="gameLogo" src="{% static 'img/no_image.png' %}"/>
            {% include "recent_games.html" %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

<script src="{% static 'js/stats_table.js' %}"></script>
<script src="{% static 'js/drop_player.js' %}"></script>

<script>

$("#add_button").click(function(){
  event.preventDefault()
  swal({
    title: "Add a player!",
    text: "Write the player's name:",
    type: "input",
    showCancelButton: true,
    closeOnConfirm: false,
    animation: "slide-from-top",
    inputPlaceholder: "i.e. Rattpack"
  },
  function(inputValue){
    if (inputValue === false) return false;

    if (inputValue === "") {
      swal.showInputError("You need to write something!");
      return false
    }
    $.post({
        url: {% url 'add_player' %},
        success: function() {
           swal("Nice!", "You wrote: " + inputValue, "success");
        }
    });
  });
});

</script>

{% endblock %}
