{% extends "base.html" %}
{% load i18n postman_tags staticfiles %}
{% block content %}
<div id="postman" class="conversationPage">
  <div class="backInbox"><a class="backButton" href="{% url 'postman:inbox' %}">&larr; back to inbox</a></div>
  {% if flavour == "full" %}<h1>{% trans "Conversation" %}</h1>{% else %}<h3>{% trans "Conversation" %}</h3>{% endif %}
  <div class="conversationDiv">
    <div id="inbox" class="conversationMessages">
    {% for message in pm_messages %}
      <div class="messageBlock" {% if request.user == message.sender %}id="senderIsUser"{% endif %}>
        <div class="messageSender">{{ message.sender }}</div>
        <div class="messageDate">
          {% now "d" as day %}
          {% if message.sent_at|date:"d" == day %}{{ message.sent_at|date:"P" }}
          {% else %}{{ message.sent_at|date:"D, P" }}
          {% endif %}
        </div>
        {% if message.is_rejected %}<div class="pm_status">{% trans "Rejected" %}{% if message.moderation_reason %}{% trans ":" %} {{ message.moderation_reason }}{% endif %}</div>{% endif %}
        <div class="messageBody">{{ message.body }}</div>
      </div>
    {% endfor %}
    </div>
    {% if reply_to_pk %}
    <form class="form-inline" class="messageForm" role="form" action="{% url 'postman:reply' reply_to_pk %}?next={% if '/t/' in request.path %}{{ request.path }}{% else %}{% url 'conversation_view' pm_messages.first.pk %}{% endif %}" method="post">
      {% csrf_token %}
      <div id="pm_reply" class="messageReply">
        <textarea class="messageTextArea" rows="1" cols="1" name="body"></textarea>
        <button id="send" type="submit" class="btn btn-warning btn-lg">Send</button>
      </div>
    </form>
    {% endif %}
  </div>
</div>
<script src="{% static 'js/view.js' %}"></script>
{% endblock %}
