@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');
@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

/* endfonts */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    /*font-family: 'Lato', sans-serif;*/
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    /*font-size: 13.5px;*/
}
thead a {
    color: #373a3c;
}
a:hover {
    text-decoration: none;
}
button:focus {
    outline: none!important;
}
.alert-debug {
    color: black;
    background-color: white;
    border-color: #d6e9c6;
}
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

/* Pageheader */

.headerwrap {
    /*background: url(/static/img/soviet_ballers.png);*/
    background-color: #d3d3d3;
    background-repeat: no-repeat;
    background-size: 140px;
    background-position: 60% 70%;
    min-height: 300px;
    padding-top: 100px;
    margin-top: -20px;
    width: 100%;
}
@media screen and (device-aspect-ratio: 40/71) {
    .headerwrap {
        padding: 50px 0px 20px 0px;
        min-height: 200px;
    }
}
.homeButton h1, .homeButton h3, .homeButton:hover {
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    color: #373a3c;
    text-decoration: none;
}
.form-group {
    display: inline-block;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
}
.diamond {
    background-color: #9fc5e8;
}
.gold {
    background-color: #ffe38e;
}
.silver {
    background-color: #dddddd;
}
.bronze {
    background-color: #eab786;
}
.noshowteam {
    display: none;
}
.TickerNews {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: 300;
}
.ti_wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 50px;
    background-color: gray;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    z-index: 3;
}
.ti_slide {
    width: 30000px;
    position: relative;
    left: 0;
    top: 0;
}
.ti_content {
    width: 8000px;
    position: relative;
    float: left;
    color: #fff;
}
.ti_news {
    float: left;
}

/* endPageheader */


/* Nav */

.navbar.navbar-fixed-top.navbar-light.bg-faded, .container {
    width: 100%;
}
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-brand:hover {
    color: rgb(70, 70, 70);
}
a.navbar-brand {
    margin-right: 100px;
}
a.nav-link {
    color: rgba(255, 255, 255, .4);
    font-weight: 300;
}
a.nav-link.active {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
}
#active {
    color: rgba(255, 255, 255, .7);
}
div.container {
    padding-left: 0;
    padding-right: 0;
    max-width: 1426px;
}
#header {
    margin-left: 100px;
}
.nav-pills .nav-item.open .nav-link, .nav-pills .nav-item.open .nav-link:focus, .nav-pills .nav-item.open .nav-link:hover, .nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover {
    background-color: #6f6f6f;
}
.nav-link:hover {
    background-color: #8c8c8c;
}
.nav-item.dropdown {
    float: right;
    padding-right: 100px;
}
.dropdown>.dropdown-menu {
    display: none;
    position: absolute;
    border: 1px solid #bdc3c7;
    min-width: 60px;
    margin: 0;
}
.dropdown.open>.dropdown-menu {
    display: inline-block;
}

/*~~~~iPhone 5:~~~~~*/

@media screen and (device-aspect-ratio: 40/71) {
    .homeButton h1 {
        font-size: 35px;
    }
    .searchInput {
        width: 10px;
    }
    .navbar.navbar-fixed-top.navbar-light.bg-faded {
        width: 100%;
    }
    a.nav-link {
        padding: 5px!important;
        color: #373a3c;
    }
    li.nav-item.dropdown {
        padding-right: 0px;
    }
    #header {
        margin: 20px 0px 0px 10px;
        ;
    }
}

/*iPhone 6:*/


/*@media screen and (device-aspect-ratio: 375/667) {}*/


/*iPhone 6 Plus:*/


/*@media screen and (device-aspect-ratio: 16/9) {}*/


/*iPad:*/


/*@media screen and (device-aspect-ratio: 3/4) {}*/


/* endnav*/

.form-wrapper {
    margin: 15px 0px 15px 0px;
}

/* Roster Table */

.table-container {
    margin: 10px -1px 40px 0px;
}
.table {
    /*width: 1360px;*/
    height: auto;
    /*table-layout: fixed;*/
    /*border-collapse: separate;
    border-top: 3px solid grey;*/
    /*margin-left: 40px;*/
    /*margin-right: 40px;*/
}
.team_name {
    /*position: absolute;*/
    border-right: 0px none black;
    border-top-width: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tabcontent {
    overflow: auto;
    margin-top: 10px;
}
.table {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5px;
}
.orderable.rank a, .orderable.team_name a, .orderable.server a, td a {
    color: #373a3c;
}
td a, thead tr {
    font-weight: 600;
}
tr, tr th {
    text-align: center;
}
th {
    min-width: 30px;
}
th.orderable>a {
    padding-right: 20px;
    background: url('/static/img/arrow-inactive-up.png') right center no-repeat;
}
th.orderable.asc>a {
    background-image: url('/static/img/arrow-active-up.png');
}
th.orderable.desc>a {
    background-image: url('/static/img/arrow-active-down.png');
}
table.table, td {
    border: 1px solid rgba(169, 158, 158, 0.98);
    border-width: thin;
}
thead tr {
    background-color: #d3d3d3;
}
.tab {
    overflow: hidden;
    border: 1px solid rgba(169, 158, 158, 0.98);
    background-color: #d3d3d3;
    margin-top: 15px;
}
.tab a {
    float: left;
    display: block;
    color: #373a3c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
.tab a:hover {
    background-color: #ddd;
}
.tab a:focus, .activeTab {
    background-color: rgb(185, 185, 185);
}
.tabcontent {
    display: none;
    /*padding: 6px 12px;*/
    /*padding: 0px 10px;*/
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;
    border-left: none;
}
.tagpro_profile a, .reddit_info a, .tagpro_stats a {
    text-decoration: underline;
}

/* endRosterTable*/


/* Team Page */

.teamPage {
    margin-right: -15px;
    margin-left: -15px;
    background: white;
    display: flex;
}
.col-sm-4 {
    /*padding-left: 10px;
    padding-right: 10px;*/
    font-size: 10px;
}
#sideBar {
    box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, .25);
    z-index: 4;
    background: gray;
    padding-bottom: 40px;
}
.sideBarHeader {
    padding-left: 25px;
    color: #fff;
    margin-bottom: 20px;
    color: white;
    font-weight: 900;
}
#sideBarHeader {
    color: #d3d3d3;
}
.sideBarTable {
    margin-left: 25px;
    border: transparent;
}
.sideBarTableRow {
    margin-left: 55px;
    font-size: 1.1em;
    color: #bfbdbd;
    border: solid transparent;
}
.sideBarTableRank {
    text-align: center;
    border: solid transparent;
}
.sideBarTableTeam {
    padding-left: 0px;
    color: #fff;
    text-align: left;
}
.sideBarTableTeamLink {
    color: #d3d3d3;
    font-weight: 300;
}
#selfTeam {
    color: #fff;
    font-weight: bold;
}
#teamInfo {
    padding: 10px 0px 30px 0px;
    background-color: #f2f2f2;
    display: block;
}
.statcard {
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    /*padding: 0px 0px 0px 0px;
    margin-left: 33px*/
}
#teamName {
    text-align: center;
    padding: 10px 100px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 0px;
}
.teamNameHeader {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    /*font-size: 48px;*/
    margin-bottom: 10px;
    /*margin-top: 20px;*/
}
.subTeamName, .subTeamStats {
    margin-bottom: 5px;
}
.subTeamName {
    padding-left: 30px;
}
.subTeamNameHeader {
    border-right: 1px #969696 solid;
    padding: 8px 20px 8px 20px;
}
.subTeamNameHeader:last-child {
    border-right: none;
}
.positive {
    background-color: #b6d7a8;
}
.negative {
    background-color: #ea9999;
}
.headerImage {
    margin-bottom: 3px;
    margin-right: 10px;
}
.roster {
    padding-bottom: 20px;
    width: 100%;
}
.rosterTable {
    margin: 0 auto;
    width: 30%;
}
.smallCardHeader {
    margin-bottom: 20px;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    background: gray!important;
}
.rosterInfo {
    border: transparent;
}
.player:hover {
    text-decoration: none;
}
.player {
    font-size: 1.35rem;
    font-weight: bold;
}
.dropPlayer {
    display: none;
}
.dropPlayer, .addPlayer, .emptySpot {
    border: none;
}
.dropButton {
    color: red;
    font-size: 12px;
    background-color: white;
    border: 1px grey solid;
    margin-left: 5px;
    padding: 5px;
    box-shadow: 1.5px 1.5px 1px #888888;
}
.dropButton:hover {
    text-decoration: none;
}
#dropButton {
    padding: 1px 5px 3px 5px;
    margin-left: 20px;
}
.addButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    padding: 4px;
}
.addButton:hover {
    text-decoration: none;
    color: #4f5356;
}
.rosterDivider {
    margin: 5px;
    border-color: #d2cccc;
}
.addDropButtons {
    padding: 10px 5px 25px 0px;
}
.input-group-btn {
    float: right;
    margin-right: 45px;
}
.current {
    table-layout: fixed;
}
.current, .subTeamStats {
    border-right: none!important;
    border-left: none!important;
}
.current th, .subTeamStats th {
    border-bottom: 1px solid rgba(169, 158, 158, 0.98)!important;
}
.teamsToChallenge {
    height: 100%;
    padding-bottom: 20px;
    width: 100%;
    margin-right: 5px;
    margin-bottom: 15px;
}
.recentGames {
    height: 100%;
    padding-bottom: 20px;
    width: 100%;
    margin-right: 5px;
    font-size: 10px;
}
.gameLogoContainer {
    text-align: center;
    margin-top: 20px;
}
.gameLogo {
    max-width: 60%;
    max-height: 65px;
    vertical-align: middle;
    /*border: 1px solid #9a9a9a;
    border-radius: 12px;*/
}
.scheduleScores {
    width: 95%;
    margin: 10px auto 0px auto;
}
.scheduleRow {
    font-size: 13.5px;
}
@media screen and (device-aspect-ratio: 40/71) {
    .teamPage {
        display: inline;
    }
    .table-container {
        margin: 0px;
    }
    .subTeamName, .subTeamStats {
        font-size: 10px;
        display: block;
        overflow-x: auto;
        margin-bottom: 10px;
        /*padding-left: 30px;*/
    }
    .statcard {
        padding: 8px 0px;
        text-align: center;
        /*padding-top: 1px;
        padding-bottom: 1px;*/
    }
    .smallCardHeader {
        padding: 0px;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .addDropButtons {
        margin-bottom: 20px;
    }
    .player {
        font-size: 15px;
    }
    .subTeamNameHeader {
        padding: 4px 15px 4px 15px;
        font-size: 12px;
    }
    .headerImage {
        margin-bottom: 0px;
        margin-right: 2px;
    }
    .roster {
        padding-bottom: 0px;
    }
    .current {
        display: block;
        overflow-x: auto;
        font-size: 10px;
    }
    .challengeHeader {
        padding: 0px 2px;
    }
    .scheduleRow {
        font-size: 10px;
    }
    .gameLogo {
        max-width: 50%;
        max-height: 55px;
    }
}

/* endTeamPage */


/* Player Page */

.playerPage {
    background: white;
    display: flex;
    font-weight: 300;
}
.col-lg-10 {
    padding-bottom: 30px;
    background: #f2f2f2;
}
.col-lg-4 {
    float: left;
    padding-right: 5px;
}
.nameHolder {
    margin-top: 40px;
    padding: 0px 0px;
}
#playerStatCard {
    margin-bottom: 20px;
    padding: 20px 0px 100px 0px;
}
.playerHeader {
    text-align: center;
    font-weight: bold;
}
.playerTable {
    margin-bottom: 10px;
}
.playerTeam a {
    padding: 8px 20px 8px 20px;
    color: rgba(150, 150, 150, 1.0);
    font-weight: 300;
}
.playerTeamLogo {
    display: inline-block;
    margin-left: 2%;
    width: 40%;
    padding-bottom: 15px;
}
.logoImage {
    max-width: 100%;
    height: auto;
    width: auto;
}
.accountInfo {
    float: right;
    width: 50%;
    margin-right: 2.5%;
    margin-top: 6%;
    text-align: center;
    padding-bottom: 20px
}
.playerInfo {
    padding: 0px 20px 20px 20px;
}
.playerInfoHeader {
    text-align: center;
}
.playerBio {
    font-size: 20px;
    text-align: center;
    color: #aaaaaa;
}
.trophyCase {
    padding: 20px;
    text-align: center;
}
.trophies, .trophies p {
    text-align: center;
    color: #aaaaaa;
}
.awards {
    text-align: center;
    padding-bottom: 20px;
}
.awards h2 {
    text-align: center;
    padding-top: 10px;
}
.awards p {
    color: #aaaaaa;
}
#careerStats {
    padding: 0px 15px 0px 15px;
    margin: 0px;
    float: left;
}
#careerStatCard {
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 20px;
}
.careerStatHeader {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}
.careerStatTable {
    margin-top: 15px;
}
.careernumber {
    text-align: center;
    width: 160px;
    font-size: 40px;
    color: rgba(150, 150, 150, 1.0);
    padding: 8px 8px 8px 8px;
}

/* endPlayerPage */


/* Challenge */

.thead-inverse th {
    background-color: #0275d8;
}
#PTrue {
    background-color: lightgrey;
}

/* endChallenge */


/* SearchResults */

.resultsPage {
    background-color: #d3d3d3;
    margin-top: 20px;
    text-align: center;
}
.searchBar {
    padding: 20px 0px 0px 40px;
}
.searchInput {
    text-indent: 10px;
    height: 46px;
    width: 300px;
}
.resultsTable {
    margin: 0px 500px 40px 500px;
    padding-bottom: 20px;
    font-size: 30px;
}
.playerResults {
    margin-top: 40px;
}
.result {
    padding: 10px 20px 10px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}
.teamResults {
    padding: 0px;
    padding: 20px 0px 40px 0px;
}
.noResults {
    padding: 40px 0px 40px 0px;
}

/* iPhone 5: */

@media screen and (device-aspect-ratio: 40/71) {
    .searchInput {
        height: 30px;
        width: 230px;
    }
    .resultsTable {
        margin: 0;
        font-size: 18px;
    }
    .playerResults {
        margin-top: 30px;
    }
}

/* endSearchResults */


/* Score Submit */

.scoreForm {
    text-align: center;
    padding-top: 20px;
}
.scoreHeader {
    padding-bottom: 10px;
}
.scoreSmall {
    padding-bottom: 20px;
}
.scoreTable {
    width: 300px;
    margin: 20px 0px 0px 550px;
}
.scoreCell {
    width: 200px;
}
.scoreInput {
    width: 50px;
    text-align: center;
}
#submit {
    margin-top: 50px;
    display: none;
}
.scoreSuccessHeader {
    padding: 50px 0px 20px 625px;
}

/* endScoreSubmit */


/* Inbox */

.inboxPage {
    margin: 20px 0px 0px 500px;
}
.inboxForm {
    margin-top: 20px;
}
.inboxConversations {
    margin-top: 10px;
    text-align: center;
    padding: 10px 0px 5px 0px;
}
.conversationBlock {
    margin: 10px 0px 20px 0px;
    padding-bottom: 20px;
    font-size: 20px;
}
.conversationRow {
    background-color: rgba(198, 203, 204, 0.55);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.conversationCheckBox {
    border: 0;
}
.checkboxSpan {
    margin-left: 15px;
}
.converationNotif {
    border: 0;
    padding-left: 120px;
}
.notificationImg {
    width: 25px;
    height: 25px;
    allign: left;
}
.converationSubject {
    border: 0;
    padding: 10px 0px 10px 0px;
    text-align: -webkit-auto;
}
.subjectLink {
    padding: 10px 140px 10px 10px;
}
.subjectSender {
    padding-left: 10px;
    font-size: 20px;
}
.subjectSubject {
    padding: 0px 10px 0px 5px;
    font-size: 10px;
    color: #040403;
    font-weight: 100;
}
@media screen and (device-aspect-ratio: 40/71) {
    .inboxPage {
        margin-left: 10px;
    }
    .noMessages {
        margin: 20px 50px;
        text-align: center;
    }
    #pm_buttons {
        font-size: 10px;
    }
    .converationNotif {
        padding-left: 15px;
    }
    .subjectSender {
        font-size: 18px;
    }
    .btn-secondary {
        font-size: 10px;
        margin-left: 2px;
        padding: 5px 5px;
    }
}

/* endInbox */


/* Conversation */

.conversationPage {
    margin: 20px 10px 0px 10px;
}
.backInbox {
    margin-bottom: 20px;
}
.backButton {
    color: black;
    font-size: 13px;
}
.conversationDiv {
    width: 100%;
    /*height: 400px;*/
    padding: 20px 0px 20px 0px;
}
.conversationMessages {
    /*width: 1400px;*/
    height: 400px;
    overflow: auto;
    padding: 20px 0px 20px 0px;
    border: 1px #bfbfbf solid;
}
#senderIsUser {
    background-color: #efefef;
}
.messageBlock {
    padding-left: 20px;
}
.messageSender {
    font-size: 15px;
    color: #c1b8b8;
}
.messageDate {
    font-size: 10px;
    text-align: center;
    color: #c2c2c2;
}
.messageBody {
    padding: 0px 0px 10px 10px;
    word-wrap: break-word;
    font-size: 15px;
    color: #3b3b3b;
}
.messageForm {
    padding: 10px 0px 0px 10px;
}
.messageReply {
    margin: 20px 0px 0px 50px;
}
.messageTextArea {
    resize: both;
    width: 100%;
    height: 100px;
}
#send {
    margin-left: 24px;
}
@media screen and (device-aspect-ratio: 40/71) {
    #pm_reply {
        margin-left: 0px;
    }
    #send {
        margin: 0px 0px 5px 24px;
        float: right
    }
}

/* endConversation */


/* Notifications */

.notification-box-list {
    margin-top: 10px;
}
.notificationMessage {
    font-weight: 100;
    display: inline-block;
}
.notificationLink {
    font-weight: bold;
}
.notificationFooter {
    margin: 50px 0px 0px 550px;
}
.mark-notification, .delete-notification {
    border-radius: .25rem;
    font-size: 1rem;
    border: 1px solid transparent;
    line-height: 1.25;
    font-weight: 400;
    background-color: #e8e8e8;
    border-color: #ccc;
}
.mark-notification:active, .delete-notification:active {
    background-color: #d4d4d4;
}

/* iPhone 5: */

@media screen and (device-aspect-ratio: 40/71) {
    .notification-box-list {
        font-size: 12px;
    }
    .list-group-item {
        border-bottom: none;
        padding: 3px 10px;
        margin: 0px 3px;
    }
    .list-group-item:last-child {
        border-bottom: 1px solid #ddd
    }
    .notificationMessage {
        margin-bottom: 0px;
    }
    .mark-notification, .delete-notification {
        font-size: 10px;
    }
}

/* endNotifications */
